dist/main.html
<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Главная</title>
    <link rel="icon" type="image/x-icon" href="images/favicon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
  </head>
  <body class="main-page loaded">
    <!--body.main-page.show-control-form-->
    <noscript>
      <div><strong>Для полной функциональности этого сайта необходимо включить JavaScript. Вот</strong><a href="https://artjoker.ua/ru/blog/how-to-enable-javascript/" target="_blank">инструкции,</a>как включить JavaScript в вашем браузере.
        <link rel="stylesheet" type="text/css" href="css/without-js.css">
      </div>
    </noscript>
    <!-- wrapper start-->
    <div class="wrapper">
      <!-- header SECTION-->
      <main class="main">
        <section class="comments">
          <div class="container">
            <div class="comments__manager">
              <div class="comments__manager-img"><img src="assets/images/manager-img.png" alt=""></div>
              <div class="comments__manager-cont">
                <div class="comments__manager-name">Вероника Ростова</div>
                <div class="comments__manager-pos">Менеджер по продажам</div>
                <div class="comments__manager-text">Подберу для вас самые лучшие предложения. Мои услуги абсолютно бесплатны</div>
              </div>
            </div>
            <div class="services">
              <div class="services__title">Услуг</div>
              <div class="services-list">
                <div class="services-list__item">
                  <div style="width:69%" class="services-list__part services-list__part_inner"></div>
                  <div class="services-list__text">Ручное бронирование</div>
                  <div class="services-list__num">11</div>
                </div>
                <div class="services-list__item">
                  <div style="width:17%" class="services-list__part"></div>
                  <div class="services-list__text">Пакетные туры</div>
                  <div class="services-list__num">3</div>
                </div>
                <div class="services-list__item">
                  <div style="width:11%" class="services-list__part"></div>
                  <div class="services-list__text">Отели</div>
                  <div class="services-list__num">1</div>
                </div>
              </div>
              <div class="services-list__item services-list__item_total">
                <div class="services-list__text">Всего</div>
                <div class="services-list__num">15</div>
              </div>
            </div>
            <div class="reviews flex-wrap">
              <div class="reviews__text col-item">
                <div class="reviews__title">Последние отзывы</div><a href="#" class="reviews__link">Все отзывы</a>
              </div>
              <div class="col-item">
                <div class="reviews__quantity-wrap">
                  <div class="reviews__quantity"><span class="reviews__quantity-ic"><img src="images/ic-1.png" alt=""></span><span class="reviews__quantity-text">131</span></div>
                  <div class="reviews__quantity"><span class="reviews__quantity-ic"><img src="images/ic-2.png" alt=""></span><span class="reviews__quantity-text">14</span></div>
                </div>
              </div>
            </div>
            <div class="comments-block">
              <div class="comments-list">
                <div class="comments-list__item">
                  <div class="comments-list__item-top">
                    <div class="comments-list__author">Самуил</div>
                    <div class="comments-list__date">13 октября 2011</div>
                  </div>
                  <div class="comments-list__cont">Привет, Верунь! ниче себе ты крутая. фотка класс!!!!</div>
                </div>
                <div class="comments-list__item">
                  <div class="comments-list__item-top">
                    <div class="comments-list__author">Лилия Семёновна</div>
                    <div class="comments-list__date">14 октября 2011</div>
                  </div>
                  <div class="comments-list__cont">Вероника, здравствуйте! Есть такой вопрос: Особый вид куниц жизненно стабилизирует кинетический момент, это и есть всемирно известный центр огранки алмазов и торговли бриллиантами?</div>
                </div>
              </div>
              <div class="comments-form">
                <form action="" class="js_validate">
                  <div data-error="Пожалуйста, заполните это поле" class="input-group">
                    <textarea rows="2" cols="10" required class="js-get-val"></textarea>
                  </div>
                  <div class="btn-wrap">
                    <button type="submit" class="btn js-add-comment">Написать консультанту</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- header SECTION-->
      
      
    </div>
    <script type="text/javascript" src="js/lib.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNAljGFFDKq6W69dSVoW52nEhHtQ8nV78"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>

app/main.jade
doctype html
html.js(lang="en")
  head
    include _head

  body.main-page.loaded
    //body.main-page.show-control-form
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href="https://artjoker.ua/ru/blog/how-to-enable-javascript/" target="_blank") инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')

    // wrapper start
    .wrapper
      // header SECTION
      main.main
        section.comments
          .container
            .comments__manager
              .comments__manager-img
                img(src='assets/images/manager-img.png', alt='')
              .comments__manager-cont
                .comments__manager-name Вероника Ростова
                .comments__manager-pos Менеджер по продажам
                .comments__manager-text Подберу для вас самые лучшие предложения. Мои услуги абсолютно бесплатны
            .services
              .services__title Услуг
              .services-list
                .services-list__item
                  .services-list__part.services-list__part_inner(style='width:69%')
                  .services-list__text Ручное бронирование
                  .services-list__num 11
                .services-list__item
                  .services-list__part(style='width:17%')
                  .services-list__text Пакетные туры
                  .services-list__num 3
                .services-list__item
                  .services-list__part(style='width:11%')
                  .services-list__text Отели
                  .services-list__num 1
              .services-list__item.services-list__item_total
                .services-list__text Всего
                .services-list__num 15
            .reviews.flex-wrap
              .reviews__text.col-item
                .reviews__title Последние отзывы
                a.reviews__link(href='#') Все отзывы
              .col-item
                .reviews__quantity-wrap
                  .reviews__quantity
                    span.reviews__quantity-ic
                      img(src='images/ic-1.png', alt='')
                    span.reviews__quantity-text 131
                  .reviews__quantity
                    span.reviews__quantity-ic
                      img(src='images/ic-2.png', alt='')
                    span.reviews__quantity-text 14
            .comments-block
              .comments-list
                .comments-list__item
                  .comments-list__item-top
                    .comments-list__author Самуил
                    .comments-list__date 13 октября 2011
                  .comments-list__cont Привет, Верунь! ниче себе ты крутая. фотка класс!!!!
                .comments-list__item
                  .comments-list__item-top
                    .comments-list__author Лилия Семёновна
                    .comments-list__date 14 октября 2011
                  .comments-list__cont Вероника, здравствуйте! Есть такой вопрос: Особый вид куниц жизненно стабилизирует кинетический момент, это и есть всемирно известный центр огранки алмазов и торговли бриллиантами?
              .comments-form
                form(action='', class='js_validate')
                  .input-group(data-error="Пожалуйста, заполните это поле")
                    textarea.js-get-val(rows="2", cols="10", required)
                  .btn-wrap
                    button(type='submit').btn.js-add-comment Написать консультанту



      // header SECTION



    include _footer-include
